<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fa893">  <td>18/06/25 13:07:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.TestInitialize()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&gt;&gt;TestInitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>18/06/25 13:08:03</td>   <td>23577</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTestSuite()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&lt;&lt;afterTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>18/06/25 13:08:03</td>   <td>23565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/25 13:08:03</td>   <td>23574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/25 13:08:03</td>   <td>23572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/25 13:07:48</td>   <td>9119</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/25 13:07:50</td>   <td>10455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/25 13:07:48</td>   <td>9119</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848415041</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/06/25 13:07:50</td>   <td>10455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.verify_MercuryWebSite_Registration()[pri:0, instance:com.portal.regressiontest.Register@1da51a35]">verify_MercuryWebSite_Registration</td> 
  <td>main@1848415041</td>   <td></td> </tr>
</table>
